<h1>Lists all "Homepage"</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <p><%= link_to list.name, list_path(list) %></p>
      <%# can also use list.id %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "New list", new_list_path %>
</div>

